{% extends 'base.html.twig' %}

{% block title %}Reset{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
<div class="container mt-5">

    <h3>Recupera tu contraseña</h3>
        {{ form_start(formulario) }}
        {{ form_row(formulario.email) }}
        {{ form_end(formulario) }}
    {# Correo enviado #}
    {% for flash_message in app.session.flashbag.get('enviado') %}
        <div class="alert alert-info alert-dismissible mx-auto mt-2 show fade">
            {{ flash_message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {# Correo no enviado #}
    {% for flash_message in app.session.flashbag.get('no_enviado') %}
        <div class="alert alert-danger alert-dismissible mx-auto mt-2 show fade">
            {{ flash_message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/accion.js') }}"></script>
{% endblock %}
