{% extends 'base.html.twig' %}

{% block title %}Registrarse{% endblock %}

{% block body %}
<body class="registro">
{# Menú de navegación #}
<header class="row">
	<div class="container mt-5">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbarbrand"><img src="img/logo.png" class="logo" alt="logo"></a>
			<button class="navbar-toggler ml-auto btn-responsive" data-toggle="collapse" data-target="#menu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="menu">
				<nav class="navbar-nav">
					<a href="#" class="nav-link">Home</a>
					<a data-toggle="modal" data-target="#privacidad" title="Política de privacidad" href="#" class="nav-link">Privacidad</a>
					<a href="#" class="nav-link">Manual del usuario</a>
				</nav>
				{# Botones de inicio de sesión o registro #}
				<form class="form-inline ml-auto">
					<a class="btn bg-light btn-md mr-2 redondo" href="/login">Login</a>
					<a class="btn bg-light btn-md redondo" href="/registro">Registro</a>
				</form>
			</div>
		</nav>
	</div>
</header>
{# Política de privacidad #}
<section class="modal fade" id="privacidad">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<p class="modal-title"><strong>Política de Privacidad</strong></p>
				<button type="button" data-dismiss="modal" class="close" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>El presente Política de Privacidad establece los términos en que Rasprivate Cloud
					usa y protege la información que es proporcionada por sus usuarios al momento de
					utilizar su sitio web. Esta compañía está comprometida con la seguridad de los datos de sus usuarios.
					Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado,
					lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento.
					Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le
					recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.
				</p>
				<p>
					<strong>Información que es recogida</strong>
				</p>
				<p>Nuestro sitio web podrá recoger información personal por ejemplo: Nombre,&nbsp; información de contacto como&nbsp; su
					dirección de correo electrónico.</p>
				<p>
					<strong>Uso de la información recogida</strong>
				</p>
				<p>Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener
					un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros servicios. &nbsp;
				</p>
				<p>Rasprivate Cloud está altamente comprometido para cumplir con el compromiso de mantener su información segura.
					Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún acceso no autorizado.
				</p>
				<p>
					<strong>Enlaces a Terceros</strong>
				</p>
				<p>Este sitio web pudiera contener en laces a otros sitios que pudieran ser de su interés. Una vez que usted de clic en estos enlaces
					y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo tanto no somos responsables de los
					términos o privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias
					políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted está de acuerdo con estas.
				</p>
				<p>
					<strong>Control de su información personal</strong>
				</p>
				<p>Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido
					por un juez con un orden judicial.
				</p>
				<p>Rasprivate Cloud Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.
				</p>
				<p>Esta politica de privacidad se han generado en
					<a href="https://politicadeprivacidadplantilla.com/" target="_blank">politicadeprivacidadplantilla.com</a>.<br>
				</p>
			</div>
			<div class="modal-footer">
				<p>Rasprivate Cloud, 2020</p>
			</div>
		</div>
	</div>
</section>

{# Crear una cuenta #}
<div class="container mt-5">
	<div class="row justify-content-center align-items-center">
		<div class="col-md-6">
			<h1 class="h3 mb-3 font-weight-normal text-center">Crea una cuenta</h1>

			{{ form_start(formulario) }}

			<div class="row">
				<div class="col">
					<small class="text-danger oculto" id="email_no_valido">La dirección de correo ya existe</small>
					{{ form_row(formulario.email) }}


					<small class="text-danger oculto" id="usuario_no_valido">El nombre de usuario ya existe</small>
					{{ form_row(formulario.usuario) }}

					{{ form_row(formulario.password) }}

					{{ form_row(formulario.password_verify) }}
				</div>
			</div>
			<div class="form-check mb-2">
				<input type="checkbox" class="form-check-input" id="exampleCheck1" required>
				<label class="form-check-label" for="exampleCheck1">Acepto la <strong><a data-toggle="modal" data-target="#privacidad" title="Política de privacidad" href="#" class="text-dark text-decoration-none">Política de privacidad</a></strong></label>
			</div>

			{{ form_end(formulario) }}
		</div>
	</div>
	<a class="ref"
	   href="https://unsplash.com/@vinhan?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
	   target="_blank" rel="noopener noreferrer" title="Autor: An Tran">
                        <span style="display:inline-block;padding:2px 3px">
                            <svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32">
                                <title>unsplash-logo</title>
                                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
                            </svg>
                        </span>
		<span style="display:inline-block;padding:2px 3px">An Tran</span>
	</a>
</div>
</body>
{% endblock %}
 {% block javascripts %}
	 {{ parent() }}
	 <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
	 <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
	 <script>
		 $( document ).ready(function() {

		 	//Compruebo email
		 	$("#usuario_email").on("keyup",function () {
				var email = $(this).val();
				var exp = new RegExp(/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/);
				if (exp.test(email) === true) {
					email = $(this).val();
					var ruta = Routing.generate('email');
					$.ajax({
						type:'POST',
						url:ruta,
						data:({email:email}),
						async:true,
						dataType:"json",
						success: function (data) {
							if(data.email === 0){
								$("#email_no_valido").toggleClass("oculto");
								$("#usuario_Registrar").prop('disabled', true);
							}
							else {
								$("#email_no_valido").addClass("oculto");
								if($("#usuario_no_valido").hasClass("oculto")){
									$("#usuario_Registrar").prop('disabled', false);
								}
							}
						}
					});
				}
				else {
					// NO hacer nada
				}
			});

		 	//Compruebo nombre de usuario
		 	$("#usuario_usuario").on("keyup",function () {
				var nombre_usuario = $(this).val();
				var exp = new RegExp(/^([a-zA-Z0-9]{5,15})+$/);
				if (exp.test(nombre_usuario) === true){
					nombre_usuario = $(this).val();
					var ruta = Routing.generate('usuario');
					$.ajax({
						type:'POST',
						url:ruta,
						data:({usuario:nombre_usuario}),
						async:true,
						dataType:"json",
						success: function (data) {
							if(data.usuario === 0){
								$("#usuario_no_valido").removeClass("oculto");
								$("#usuario_Registrar").prop('disabled', true);
							}
							else {
								$("#usuario_no_valido").addClass("oculto");
								if($("#email_no_valido").hasClass("oculto")){
									$("#usuario_Registrar").prop('disabled', false);
								}
							}
						}
					});
				}
				else{
					// NO hacer nada
				}
			});
			 function compruebaPass(){
				 pass1 = $("#usuario_password").val();
				 pass2 = $("#usuario_password_verify").val();

				 if (pass1 == pass2){
					 $("#usuario_Registrar").prop('disabled', false);
				 }
				 else{
					 $("#usuario_Registrar").prop('disabled', true);
				 }
			 }
			 $("#usuario_password").on("keyup",function () {
				 var pass1 = $(this).val();
				 compruebaPass();
			 });
			 $("#usuario_password_verify").on("keyup",function () {
				 var pass2 = $(this).val();
				 compruebaPass();
			 });
		 });
	 </script>
 {% endblock %}